    body {margin: 0; padding: 0; overflow:hidden; background-image:url("checkerboard.png"); animation: scroll 5s infinite linear;}
    body, body * {font-family: 'Ubuntu', sans-serif;}

    .fuck {border: 10px solid red!important;}

    #canvas {display: block; width:100%; height: 100%; background-size: 16px 16px; position: relative; z-index: 1;
    background-color: rgba(128,128,255,0.5);}
    
    #guide1, #guide2, #guide3, #guide4,#guide5 {display: block; position: absolute; z-index: 999; pointer-events: none;}

    #settings, #settings.show {top: 60%; left: 50%; top: 50%; transform: translate(-50%, -50%); position: absolute; padding: 10px;
    background: none; border-radius: 3px; text-align: center; color: white;}
    #settings {display:none; z-index: 0; pointer-events: none;}
    #settings.show {display: block; pointer-events: all; z-index: 9999999;}
    #settings, #settings * {vertical-align: middle;}
    #settings input, #settings select, #settings option {color: white; padding: 1%;
    background-color: rgba(64,64,128,0.5);border: 1px solid rgb(48,48,96); height: 2em; border-radius: 0px;}
    #settings input[type=range]::-moz-range-thumb, input[type=range]::-webkit-slider-thumb {background-color: rgba(64,64,128,1); border-radius: 0px; border: 0;}
    #size_f, #settings input[type=range]::-moz-range-track, input[type=range]::-webkit-slider-runnable-track {height: 1px!important; padding: 0px!important; display: block; border: 0;}
    #settings select {background-image: none;}

    .context {user-select: none; position: absolute; min-width: 80px;}
    .context .contextOption {display: block; padding: 3px; width: 100%; color: white; font-size: 14px; display: block;
    background: rgba(64,64,128,0.75);}
    .context .contextOption:hover {background: rgba(32,32,64,0.75);}
    .context .contextOption#hidden {display: none;}
    .context .contextOption .arrow {height: 1em; width: 1em; float: right; display: inline-block; z-index: 99999999;}
    
    .arrow:after {content:"➢"; display: block;}
    .arrow:hover {filter: invert(100%);}
    .arrow.hidden {display: none; pointer-events: none;} .arrow.hidden:after {content:"";}
    
    #mouse_coords {display: block; top: 1%; left: 1%; position:absolute; z-index: 999; pointer-events:none;}
    
    .box {resize: none;position: absolute;border: 0;display: block;}
    .box .content, .box .handle {resize:none;position:relative;background:none;border:none;display:block;}
    .box .content {width:100%;height:100%;color:inherit;font-size:inherit;} .box .handle {pointer-events: none; width: 0px; height: 0px;}
    .transform .box .handle {cursor: move; pointer-events: all; width: 99%!important; height: 99%!important; }
    .transform .box .content {visibility:hidden; width: 0px!important; height: 0px!important;}
    
    @keyframes scroll {
        from {background-position: 0px 0px;}
        to {background-position: -16px -16px;}
    }

/*Overlays*/.ui-resizable{position:relative;}.ui-resizable-handle{position:absolute;font-size:0.1px;display:block;-ms-touch-action:none;touch-action:none;}.ui-resizable-disabled.ui-resizable-handle,.ui-resizable-autohide.ui-resizable-handle{display:none;}.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0;}.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0;}.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%;}.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%;}.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px;}.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px;}.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px;}.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px;}