    *{font-family: "Ubuntu", sans-serif; color: #eee;}
    html, body {display: block; background: #111;}
    center {width: 60%; margin: 0 auto;} 
    input[type="text"], input[type="submit"] {background: #007aff; padding: 4px; color: white;}
    ::file-selector-button {color: white; -webkit-appearance: button; background: #007aff; border-radius: 5px; border: 0px; padding: 7px 10px;}
    ::-webkit-file-upload-button {color: white;-webkit-appearance: button; background: #007aff; border-radius: 5px; border: 0px; padding: 7px 10px;}
    input[type="submit"] {border-radius: 5px; border: 0px; padding: 7px 10px;}
    input[type="text"] {border: 1px solid navy; padding: 4px; height: auto;}
    .table {width: 80%; height: 100%; margin: 0 auto; display: block;} 
    .table *{vertical-align: text-top;}
    .thead, .tbody {display: block;}
    .thead .tr, .tbody .tr {display: inline-block; width: 49%;}
    .tbody .tr {height: 100%;}
    .thead .td, .thead .td h3 {text-align: center; vertical-align: text-bottom; display: block;} 
    .tbody .tr {border-left: 1px solid grey; border-right: 1px solid grey;}
    .td {white-space: pre-wrap; word-wrap: break-word;}
    .search {width: 100%; height: 100%; background: red; display: block;}

    .results {word-break: break-all; pointer-events: none;}
    .results img, .results .image {max-width: 128px; display: inline-block; pointer-events: all;}
    .results .image .info {display: none; text-select: none;}
    .results .image:hover .info {position: absolute; word-break: break-word; display: block; z-index: 99999; top: 0; left: 0; width: 50%;}
    .results .image:hover .name {text-shadow: 1px 1px black 1 1;display:block; padding: 10px; margin: 20px 0; background: #444; border-radius: 0 5px 5px 0;}
    .results .image:hover .desc {padding: 10px; background: #555; border-radius: 0 5px 5px 0;}


    img.copied {opacity: 0.75;}